<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/FlatUI/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/FlatUI/css/flat-ui.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row demo-row">
        <div class="span12">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                    <a class="brand fui-flat" href="/"></a>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li>
                      <a href="{{ urlListBlogs }}">
                        BlogList
                      </a>
                    </li>
                    <li>
                      <a href="{{ urlLogout }}">
                        Logout
                      </a>
                    </li>
                  </ul>
                  <form class="navbar-search form-search pull-right" action="{{ urlStoreFeed }}" method="post">
                    <div class="input-append">
                      <input type="text" class="search-query span2" name="url" placeholder="Feed-URL">
                      <button type="submit" class="btn btn-large" value="登 録">
                        <i class="fui-plus"></i>
                      </button>
                    </div>
                  </form>
                </div><!--/.nav -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- row demo-row -->

    <span class="message"></span>
    {% block content %}{% endblock %}
  </div><!-- container -->
    <script src="/scripts/underscore.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/backbone-min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
{% endautoescape %}
